<!doctype html>
<html lang="en" ng-app="contactsApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-resource.min.js"></script>
    <link rel="stylesheet" href="contacts.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <base href="/">
</head>

<body>
    <div class="container-fluid">
        <header class="navbar">
            <a href="#!/">
                <h1>ContactsApp</h1>
            </a>
            <a href="#!/add"><button id="addButton" class="btn btn-success">Add Contact</button></a>
        </header>

        <div class="row">
            <div class="col-sm-9 border rounded" ng-view></div>
            <div class="col-sm-3 border rounded" ng-controller="contactsController">
                <input class="form-control" id="searchForm" type="text" placeholder="Search" ng-model="search"
                    autofocus />
                <table class="table table-hover">
                    <tr ng-repeat="contact in contactsList | orderBy: 'name' | filter : search">
                        <td ng-click="selectContact(contact)">{{contact.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="contacts.js"></script>
</body>

</html>